#######################
# Signing credentials #
#######################
# The GPG key pair ID (last 8 digits of its fingerprint)
signing.keyId=<key>
# The passphrase of the key pair
signing.password=<pass>
# Secret key ring file
signing.secretKeyRingFile=<path/to/secring.gpg>
# Credentials for the Sonatype OSSRH
ossrh.username=<user>
ossrh.password=<pass>

#################################################################
# Debug credentials for Sipfront API (for development purposes) #
#################################################################
sipfront.api.username=<user>
sipfront.api.password=<pass>
sipfront.api.server=<server>
sipfront.api.token=<token>
sipfront.api.url=<url>